nav{
    display: flex;
    align-items: flex-start;
}
h2, .box>p{
  background-color: rgb(124, 95, 120);
  color: white;
  padding: 5px;
  width: 100%;
  max-height: auto;
  margin: auto;
  text-align: center;
}
h2:hover, p:hover{
    cursor: default;
}
#logo {
  width: 70px;
  height: 70px;
}
#T{
    padding-top: 100px;
}
#T2{
    padding-top: 50px;
}
#Home{
    background-color: lightgray;
    width: 100%;
    height: auto;
    padding-bottom: 250px;
    background-image: url("./images/Texture-Cream-Knitted-Jumper-Mural.jpg");
    background-repeat: repeat;
    background-size: contain;
}
#Us{
    background-image: url("./images/Texture-Cream-Knitted-Jumper-Mural.jpg");
    background-repeat: repeat;
    background-size: contain;
}
body, html{
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: black;
}
#box{
    width: 100%;
    height: auto;
    z-index: 1;
    padding-top: 30px;
}
#box>.box{
    width: 100%;
    height: auto;
    transition: transform .4s;
    z-index: 1;
    box-shadow: 5px 5px 20px black;
    display: block;
}
#box>.box:hover{
    transform: scale(1.1);
    z-index: 3;
    box-shadow: 5px 5px 25px black;
}
#box>.box>a>img{
    width: 100%;
    height: auto;
    z-index: 3;
}
@font-face{
    font-family: "handWrite";
    src: url(./Font\ Types/Pushster-Regular.ttf);
}
p{
    font-family: "handWrite";
}
#fejlec{
    background-image: url("./images/pngegg\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    min-height: 100px;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.cim{
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
#teldiv{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}