nav{
    display: flex;
    align-items: flex-start;
}
h2, p{
  background-color: rgb(187, 187, 187);
  color: white;
  padding: 5px;
  width: 100%;
  max-height: auto;
  margin: auto;
  text-align: center;
}
h2:hover, p:hover{
    cursor: default;
}
#logo {
  width: 70px;
  height: 70px
}